.row-actions{
    position: relative;
    z-index: 1;
}

.row-actions button{
    min-width: auto;
    cursor: pointer;
    margin-right: 10px;
}

.row-actions .delete svg{
    color: #000;
    vertical-align: middle;
}

.row-actions .edit::after{
    background: #FCDE7C;
}
